* {
    box-sizing: border-box;
}
#snakeField {
    display: flex;
    flex-wrap: wrap;
    width: 90vmin;
    margin: auto;
}

.item {
    background-color: lightblue;
    border: 2px solid blue;
    height: 9vmin;
    width: 10%;
    border-radius: 5px;
}
